html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  background-color: var(--main-blue);
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  color: #fff;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus,
input:focus {
  outline: transparent;
}

.container {
  max-width: 1430px;
  width: 90%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
}

.main-button {
  font-weight: 700;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: var(--main-blue);
  background: linear-gradient(0deg, #F43838, #F43838), #C4C4C4;
  box-shadow: 0px 4px 16px rgba(255, 29, 29, 0.6);
  border-radius: 16px;

}

.buttons {
  list-style: none;
  background-color: var(--main-blue);
  color: var(--dark-blue);
  border-radius: 24px;

    &__item {
      background-color: var(--main-blue);
      &__item{
        border-radius: 50%;
        background: transparent;

        padding: 14px 16px;
        box-shadow: -4px -2px 8px rgba(255, 255, 255, 0.8), 4px 2px 8px rgba(136, 165, 191, 0.48);
        svg {
          width: 32px;
          height: 32px;
  
          path {
            fill: var(--dark-blue)
          }
        }
      }
      &.buttons__item--active .buttons__item__item {
        box-shadow: inset -3px -3px 7px #FFFFFF, inset 3px 3px 7px rgba(136, 165, 191, 0.48);
      }
    }

  
}

.section-text {
  position: relative;

  &::before {
    writing-mode: vertical-rl;
    transform: rotate(180deg) translateY(50%);
    position: absolute;
    top: 50%;
    left: 50px;
    color: linear-gradient(0deg, #EBF3FA, #EBF3FA), linear-gradient(210.55deg, #EBF2F9 19.14%, #D9E6F3 154.68%);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 96px;
    line-height: 100%;
    text-shadow: -4px -2px 16px #FFFFFF, 4px 2px 16px rgba(136, 165, 191, 0.48);
  }
}

.check {
  display: flex;
  align-items: center;
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__input:checked+&__label::before {
    // background-image: url("../images/check.svg");
    background: linear-gradient(106.79deg, #FFFFFF -62.32%, #587CA5 190.73%);
    box-shadow: inset 3px 3px 5px rgba(213, 230, 245, 0.4), inset 2px 2px 3px rgba(79, 98, 120, 0.9);
    border-radius: 50%;
    width: 14px;
    height: 14px;
  }

  &__label {
    position: relative;
    padding-left: 24px;
    font-weight: 500;
    line-height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 12px;
      height: 12px;
      background: linear-gradient(106.79deg, #FFFFFF -62.32%, #587CA5 190.73%);
      box-shadow: inset 3px 3px 5px rgba(213, 230, 245, 0.4), inset 2px 2px 3px rgba(79, 98, 120, 0.9);
      border-radius: 50%;
    }
  }
}