@media(max-width: 1360px) {
    .header {
        &__logo-item {
            svg {
                width: 40px;
            }

            &:nth-child(2) {
                margin-left: 10px;

                svg {
                    width: 100px;

                }
            }
        }

        &__nav {}

        &__nav-item {
            margin: 0 10px;
        }

        &__contacts-button {
            margin-left: 15px;
            padding: 14px 6px 14px 22px;
        }
    }

    .offer {
        &__title {
            font-size: 50px;
        }

        &__buttons {
            right: 50px;
            bottom: 50px;
            padding: 20px 25px;
        }

        &__button {
            padding: 15px 30px;
        }
    }

    .location {
        &__wrapper-img {
            min-width: auto;
            margin-right: 50px;
        }
    }

    .smart {
        min-height: auto;

        &__wrapper {
            padding-left: 12%;
        }

        &__content {
            margin-right: 50px;
        }

        &__about {
            padding: 100px 50px 0;
        }
    }
    .family{
        &::before{
            display: none;
        }
        &__wrapper{
            align-items: center;
            justify-content: unset;
        }
        &__content{
            flex: 0 0 60%;
            max-width: 60%;
            margin-right: 50px;
        }
        &__img{
            flex: 0 0 40%;
            img{
                width: 100%;
            }
        }
    }
}

@media(max-width: 1175px) {
    .section-text {
        &::before {
            left: 25px;
            font-size: 72px;

        }
    }

    .header {
        top: 0;
        margin-top: 15px;
        left: 0;
        right: 0;
        z-index: 5;

        &.active {
            margin-top: 0;
        }

        &.active-navbar {
            .header__logo-item {
                &__svg-path {
                    fill: var(--dark-blue);
                }
            }

            .header__contacts-phone {
                position: relative;
                z-index: 12;
                color: var(--dark-blue);
            }
        }

        // &__logo-item {
        //     svg {
        //         width: 60px;
        //     }

        //     &:nth-child(2) {
        //         margin-left: 10px;

        //         svg {
        //             width: 160px;

        //         }
        //     }
        // }
        &__burger {
            display: flex;
        }

        &__nav {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: var(--main-blue);
            display: flex;
            color: var(--dark-blue);
            flex-direction: column;
            padding: 0 40px;
            justify-content: center;
            transform: translateX(100vw);
            transition: transform .3s;

            &.active {
                transform: translateX(0);
            }
        }

        &__nav-item {
            font-size: 24px;
            margin-bottom: 40px;
        }

        &__logo {
            position: relative;
            z-index: 12;
        }

        &__contacts-button {
            opacity: 0.9;
            position: fixed;
            left: 40px;
            right: 0;
            bottom: 100px;
            transform: translateX(100vw);
            transition: transform .3s;

            &::before {
                content: "";
                position: absolute;
                top: -25px;
                left: 0;
                right: 0;
                height: 1px;
                background-color: #FFFFFF;
                opacity: .9;
            }

            &.active {
                transform: translateX(0);
            }
        }
    }

    #about {
        background-image: none;
    }

    .about {
        padding-top: 50px;
        min-height: auto;
        background-color: var(--main-blue);

        &__title {
            padding-left: 0;
            padding-top: 32px;
            color: var(--dark-blue);
            font-size: 40px;
            margin-bottom: 24px;

            &::before {
                top: 0;
            }
        }

        &__wrapper {
            background: transparent;
            position: relative;
            padding: 0;
        }

        &__wrapper-title {
            display: none;
        }

        &__wrapper-text {
            max-width: 100%;
            font-size: 18px;
            margin-right: 0;
            line-height: 1.4;
        }
    }

    .location {
        padding-top: 50px;
        min-height: auto;

        &::before {
            content: "";
        }

        &__title {
            margin-bottom: 15px;
            font-size: 30px;
        }

        &__wrapper {
            max-width: 90%;
            margin: 0 auto;
        }

        &.simple {
            .location__wrapper {
                background-image: none !important;
            }

            .location__wrapper-inner {
                transform: translateX(0);
            }

        }

        &.map {
            padding-top: 0;

            .location__title {
                display: none;
            }

            .location__grid {
                position: relative;
                height: 350px;
            }

            .location__grid-text {
                display: block;
                margin: 20px 10px 0;
                opacity: .6;
            }
        }

        &__content-title {
            color: var(--dark-blue);
            font-size: 14px;
            opacity: .6;
            margin-bottom: 0;
        }

        &__content-text {
            display: none;
        }

        &__grid {
            flex-direction: column;
        }

        &__wrapper-img {
            border-radius: 0;
            margin-right: 0;
            height: auto;
        }

        &__content {
            order: -1;
            margin-bottom: 24px;
        }
    }

    .smart {
        display: block;
        padding: 50px 0 0;

        &::before {
            left: auto;
            right: 15px;
            top: 40%;
        }

        &__wrapper {
            padding: 0;
            max-width: 90%;
            margin: 0 auto;
        }

        &__about {
            display: none;
        }

        &__content {
            padding: 0;
            margin-right: 0;

            img {
                max-width: auto;

            }
        }

        &__title,
        &__list {
            padding-right: 75px;
        }
    }

    .eco {
        &::before {
            display: none;
        }

        &__img {
            flex: 0 0 40%;
        }

        &__img-item {
            width: 100%;
        }

        &__img-text {
            top: 200px;
            bottom: auto;
            font-size: 18px;
            padding-top: 180px;
            padding-left: 20px;
            max-width: 80%;
        }
    }
    .plan{
        &__wrapper{
            flex-direction: column;
        }
        &__aside{
            img{
                display: none;
            }
        }
        &__aside-item{
            
            &__list{
                &.plan__aside-item__list-check {
                    .plan__aside-item__list-item {
                        flex: 0 0 33.3%;
                    }
                }

            }
        }
        &__content-item{
            &__img{
                width: 250px;
                height: 300px;
                img{
                    width: 100%;
                }
            }
        }
        .swiper-container{
            width: 100%;
            max-width: 100%;
        }
    }

}

@media(max-width: 768px) {
    .header {
        margin-top: 0;
        align-items: center;
        padding: 10px 15px;

        &__logo {
            align-items: flex-start;
            flex-direction: column;
        }

        &__logo-item {
            &:nth-child(1) {
                display: none;
            }

            &:nth-child(2) {
                order: -1;
                margin: 0;
            }

        }

        &__contacts {}
    }

    .offer {
        &__time {
            display: none;
        }

        &__title {
            font-size: 40px;
        }

        &__address {
            margin-bottom: 100px;
        }

        &__button {
            background: linear-gradient(0deg, #F43838, #F43838), #C4C4C4;
            box-shadow: 0px 4px 16px rgba(255, 29, 29, 0.6);
            border-radius: 2px;
            padding: 24px 48px;
            font-size: 12px;
            color: var(--main-gold);
        }

        &__buttons {
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            right: 0;
            left: 0;
            bottom: 0;
            border-radius: 0;
            backdrop-filter: blur(8px);
            background: rgba(255, 255, 255, 0.1);
            padding: 10px;
        }

        &__buttons-top {
            display: none;
        }

        &__buttons-list {
            background: transparent;
        }

        &__buttons-item {
            background: transparent;

            &.buttons__item--active {
                button svg {
                    path {
                        fill: rgba(#fff, 1) !important;
                    }
                }
            }

            &__button {
                box-shadow: none !important;

                svg {
                    width: 40px;
                    height: 40px;

                    path {
                        fill: rgba(#fff, .4);
                    }
                }
            }
        }
    }

    .eco {
        padding-top: 50px;

        &::before {
            display: block;
            left: auto;
            right: 10px;
            top: 75%;
        }

        &__wrapper {
            flex-direction: column;
        }
        &__img{
            transform: translateX(-35%);
            padding-bottom: 50px;
        }
        &__img-text{
            top: auto;
            bottom: 0px;
            padding-top: 100px;
            left: 35%;
            max-width: 100%;
        }
        &__list {
            display: flex;
            overflow-x: scroll;
            order: -1;
        }

        &__list-item {
            min-width: 260px;
            position: relative;
            padding: 24px 16px 32px;
            box-shadow: -8px -8px 24px rgba(255, 255, 255, 0.8), 8px 8px 24px rgba(136, 165, 191, 0.6);
            border-radius: 16px;
            margin:  0 24px 15px 0;
            &__img {
                position: absolute;
                right: 16px;
                top: 32px;
                margin-right: 0;
                svg{
                    width: 40px;
                    height: 40px;
                }
            }
            &__content-title{
                font-size: 22px;
                padding-right: 75px;
                padding-bottom: 20px;
                border-bottom: 1px solid #ccc;
            }
        }
    }
    .family{
        padding: 50px 0 0;
        &::before{
            top: 42%;
            display: block;
            right: 0;
            left: auto; 
            font-size: 60px;
        }
        &__wrapper{
            flex-direction: column;
        }
        &__content{
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 30px;
        }
        &__text{
            margin-bottom: 24px;
        }
        &__info{
            font-size: 18px;
            padding-left: 28px;
        }
        &__img{
            flex: 0 0 100%;
            width: 100%;
            height: 200px;
            img{
                height: 100%;
                object-fit: cover;
            }

        }
    }
}

@media(max-width: 500px) {
    .smart {
        &__content {
            img {
                max-width: 1150%;
                width: 115%;
                margin: 0 -6%;
            }
        }
    }
}