@import 'vars';
@import 'fonts';
@import 'global';
@import 'popup';

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------

.header {
    position: fixed;
    z-index: 3;
    top: 24px;
    left: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 16px 25px;
    transition: all .3s;

    &.active {
        background-color: var(--main-blue);
        color: var(--dark-blue);
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 3px solid var(--dark-blue);

        .header__logo-item__svg-path {
            fill: var(--dark-blue);
        }

        .header__logo-item:first-child {
            padding: 5px;
            box-shadow: -4px -2px 8px rgba(255, 255, 255, 0.8), 4px 2px 8px rgba(136, 165, 191, 0.48);
        }
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo-item {
        svg {
            width: 60px;
            height: 48px;

        }

        &__svg-path {
            fill: #fff;
        }
    }

    &__logo-item:nth-child(2) {
        svg {
            width: 140px;
        }

        margin-left: 20px;
    }

    &__nav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__nav-item {
        font-weight: 500;

        opacity: 0.5;
        margin: 0 32px;
        transition: opacity .3s;

        &.header__nav-item--active {
            opacity: 1;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
    }

    &__contacts-button {
        background: linear-gradient(244.71deg, #E0C179 16.04%, #C5A14F 83.96%), linear-gradient(225.46deg, #C5A14F -0.13%, #E0C179 96.43%);
        box-shadow: 0px 4px 8px rgba(240, 199, 107, 0.2);
        border-radius: 8px;
        font-weight: 500;
        display: flex;
        align-items: center;
        letter-spacing: 0.16em;
        padding: 16px 8px 16px 24px;
        margin-left: 24px;

        span {
            margin-right: 7px;
        }

        svg {
            width: 32px;
            height: 32px;
        }
    }

    &__burger {
        background-color: transparent;
        border: none;
        height: 18px;
        width: 24px;
        padding: 0;
        margin: 0;
        cursor: pointer;
        z-index: 12;
        outline: none;
        position: relative;
        display: flex;
        align-items: center;
        display: none;
        margin-left: 16px;
        &.active span {
            background-color: transparent;
            width: 100%;
            &:nth-child(3) {
                transform: rotate(-45deg);
                bottom: 8px;
                width: 100%;
            }
            &:nth-child(1) {
                transform: rotate(45deg);
                top: 8px;
                width: 100%;
            }
        }

        span {  
            display: inline-block;
            width: 12px;
            height: 2px;
            background-color: var(--main-gold);
            transition: all .3s;

            &:nth-child(1),
            &:nth-child(3) {
                position: absolute;
                left: 0;
                right: 0;
                background-color: var(--main-gold);
                height: 2px;
                transition: all .4s;
            }

            &:nth-child(1) {
                top: 0px;
                width: 100%;
            }

            &:nth-child(3) {
                bottom: 0px;
                width: 18px;
            }
        }
    }
}



.offer {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: linear-gradient(180deg, #31456A 0%, rgba(49, 69, 106, 0) 100%);
        opacity: 0.6;
    }

    &__bg {}

    &__bg-item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        transition: all 1s;

        &.active {
            visibility: visible;
            opacity: 1;
            object-fit: cover;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 575px;
    }

    &__title {
        font-weight: 300;
        font-size: 64px;
        line-height: 120%;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    &__address {
        padding-left: 45px;
        position: relative;
        font-style: normal;
        margin-bottom: 45px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            background-image: url('../images/location.svg');
            background-repeat: no-repeat;
            background-size: cover;

        }
    }

    &__button {
        padding: 24px 45px;
    }

    &__time-title {
        font-weight: 500;
        line-height: 160%;
    }

    &__time-value {
        font-weight: 300;
        font-size: 48px;
        line-height: 160%;

        span {
            color: var(--main-gold);
        }
    }

    &__buttons {
        position: absolute;
        right: 165px;
        bottom: 100px;
        background-color: var(--main-blue);
        padding: 32px;
        color: var(--dark-blue);
        min-width: 300px;
        border-radius: 24px;
    }

    &__buttons-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        &__title {
            max-width: 135px;
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: 0.02em;
        }

        &__button {
            background: transparent;
            color: #CBD9E6;
            font-size: 64px;
        }
    }

    &__buttons-list {
        display: flex;
        justify-content: space-between;
        list-style: none
    }

    &__buttons-item {}
}


.about {
    min-height: 100vh;
    background-image: url('../images/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    position: relative;

    &__title {
        position: relative;
        font-weight: 500;
        font-size: 48px;
        letter-spacing: 0.02em;
        padding-left: 180px;
        color: #fff;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 48px;
            height: 4px;
            background-color: var(--main-red);
        }
    }

    &__wrapper {
        position: absolute;
        right: 0;
        bottom: 0;
        border-top-left-radius: 70px;
        padding: 75px 70px;
        background-color: var(--main-blue);
        display: flex;
        align-items: center;
    }

    &__wrapper-text {
        color: var(--dark-blue);
        max-width: 420px;
        margin-right: 115px;
        line-height: 1.2;
    }

    &__wrapper-title {
        max-width: 465px;
        font-weight: 900;
        font-size: 96px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: var(--main-gold);
        text-shadow: -4px -2px 16px #FFFFFF, 4px 2px 16px rgba(136, 165, 191, 0.48);
    }
}

.location {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;

    &::before {
        content: "location";
    }
    &.simple {
        .location__wrapper {
            background-image: url('../images/location-bg.jpg');
            background-position: center right;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .location__wrapper-inner {
            transform: translateX(-182px);
        }
    }

    &.map {
        .location__wrapper {
            width: 90%;
            max-width: 90%;
            position: relative;
            justify-content: flex-start;
        }

        .location__title {
            position: relative;
            z-index: 2;
            padding-top: 100px;
            padding-left: 100px;
        }

        .location__grid {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            align-items: flex-end;

            iframe {
                position: relative;
                z-index: 1;
                height: 80% !important;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        letter-spacing: 0.02em;
        margin-bottom: 55px;
        color: var(--dark-blue);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 70%;

    }

    &__grid {
        display: flex;
        justify-content: space-between;
    }
    &__grid-text{
        display: none;
    }
    &__wrapper-img {
        border-radius: 76px;
        margin-right: 130px;
        min-width: 550px;
    }

    &__content-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 160%;
        margin-bottom: 24px;
        color: #fff;

    }

    &__content-text {
        line-height: 160%;
        color: #FFFFFF;
        opacity: 0.6;
    }
}

.smart {
    min-height: 100vh;
    display: flex;
    align-items: stretch;

    &::before {
        content: "Smart";
    }

    &__wrapper {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        color: var(--dark-blue);
        padding-left: 20%;
    }

    &__content {
        padding: 100px 0;
        margin-right: 150px;

    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        letter-spacing: 0.02em;
        margin-bottom: 40px;
    }

    &__list {
        margin-bottom: 65px;
    }

    &__item {
        list-style: none;
        margin-bottom: 24px;
        padding-left: 40px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            background-color: var(--main-red);
            border-radius: 50%;
        }
    }

    &__about {
        position: relative;
        padding: 140px 90px 0;
        color: var(--main-blue);
        overflow: hidden;
        // background-image: url('../images/smart-bg-1.jpg');
    }

    &__about-bg {
        &__item {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 0;
            visibility: hidden;
            transition: all .3s;
            z-index: -1;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__about-title {
        font-weight: 500;
        font-size: 36px;
        letter-spacing: 0.02em;
        margin-bottom: 32px;
    }

    &__about-text {
        line-height: 160%;
        opacity: 0.6;
    }

    &__buttons {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 34px 50px 34px 35px;
        border-radius: 0 16px 0 0;
    }

    &__button {
        margin-bottom: 15px;

    }

    &__button-item {
        opacity: .7;
    }
}

.eco {
    padding-top: 150px;

    &::before {
        content: "ECO";
        left: auto;
        right: 300px;
    }

    &__title {
        color: var(--dark-blue);
        font-weight: 500;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 0.02em;
        margin-bottom: 25px;
    }

    &__wrapper {
        color: var(--dark-blue);
        display: flex;
    }

    &__img {
        position: relative;
        padding-bottom: 190px;
    }

    &__img-item {
        position: relative;
        z-index: 2;
    }

    &__img-text {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 24px;
        line-height: 140%;
        max-width: 345px;
        border-left: 4px solid var(--main-red);
        padding-top: 200px;
        padding-left: 40px;
    }

    &__list-item {
        list-style: none;
        display: flex;
        margin-bottom: 70px;

        &__img {
            margin-right: 40px;
        }

        &__content {
            max-width: 330px;
        }

        &__content-title {
            font-size: 24px;
            line-height: 120%;
            margin-bottom: 15px;
        }

        &__content-text {
            opacity: 0.6;
            line-height: 170%;
        }
    }
}

.family {
    padding: 150px 0 0;

    &::before {
        content: "family";
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        color: var(--dark-blue);
    }

    &__content {
        max-width: 440px;
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0.02em;
        margin-bottom: 30px;
    }

    &__text {
        line-height: 170%;
        opacity: 0.6;
        margin-bottom: 48px;
    }

    &__info {
        font-size: 24px;
        line-height: 140%;
        border-left: 4px solid var(--main-red);
        padding-left: 40px;
    }
}

.plan {
    padding: 150px 0 0;

    &__title {
        font-weight: 500;
        font-size: 48px;
        letter-spacing: 0.02em;
        margin-bottom: 40px;
    }

    &__wrapper {
        display: flex;
    }

    &__aside {
        flex: 0 0 20%;
    }

    &__aside-item {
        color: var(--dark-blue);

        &__title {
            font-weight: 500;
            font-size: 14px;
            opacity: 0.6;
            margin-bottom: 16px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;

            &.plan__aside-item__list-num {
                .buttons__item--active button {
                    font-weight: 700;
                    opacity: 1;
                }
            }

            &.plan__aside-item__list-check {
                .plan__aside-item__list-item {
                    flex: 0 0 50%;
                }
            }
        }

        &__list-item {
            margin-bottom: 25px;

            &__title {
                margin-bottom: 15px;
                font-size: 14px;
                opacity: .6;
            }

            &__button {
                font-weight: 500;
                font-size: 14px;
                opacity: 0.6;
                background: linear-gradient(0deg, #E3EDF7, #E3EDF7);
                box-shadow: -4px -2px 8px rgba(255, 255, 255, 0.8), 4px 2px 8px rgba(136, 165, 191, 0.48);
                border-radius: 8px;
                margin: 0 12px;
                padding: 9px 12px;
            }
        }
    }

    &__content {
        max-width: 100%;
    }

    &__slider {
        // flex: 0 0 80%;
    }

    .swiper-container {
        width: 80%;
        max-width: 80%;
        max-height: 100vh;
        // CSS Grid/Flexbox bug size workaround
        // @see https://github.com/kenwheeler/slick/issues/982
        min-height: 0;
        min-width: 0;
    }

    &__content-item {
        max-width: 900px;
        background: linear-gradient(0deg, #EBF3FA, #EBF3FA), linear-gradient(210.55deg, #EBF2F9 19.14%, #D9E6F3 154.68%);
        box-shadow: -16px -16px 32px rgba(255, 255, 255, 0.6), 16px 24px 32px rgba(18, 61, 101, 0.2);
        border-radius: 24px;
        padding: 48px 36px;
        position: relative;
        transition: all .3s;

        &__toggle {
            color: var(--dark-blue);
            position: absolute;
            top: 46px;
            right: 36px;
            display: flex;
            align-items: center;


        }

        &__toggle-checkbox {
            z-index: -1;
            opacity: 0;
        }

        &__toggle-text {
            font-weight: 500;
        }

        &__toggle-label {
            display: block;
            background: #DEE8F2;
            box-shadow: inset 2px 2px 5px rgba(105, 141, 173, 0.4);
            border-radius: 8px;
            width: 40px;
            height: 20px;
            margin: 0 8px;
            position: relative;
        }

        &__toggle-button {
            content: "";
            position: absolute;
            top: 50%;
            transform: translate(2px, -50%);
            background: #E3EDF7;
            box-shadow: 5px 2px 16px rgba(136, 165, 191, 0.78), inset 0px -1px 1px rgba(85, 102, 123, 0.4);
            border-radius: 8px;
            width: 16px;
            height: 16px;
            transition: transform .3s;

        }

        &__toggle-checkbox:checked+&__toggle-button {
            transform: translate(23px, -50%);
        }

        &__wrapper {
            display: flex;
        }

        &__content {
            list-style: none;
            margin-right: 100px;
        }

        &__img {
            height: 500px;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                max-height: 100%;

                &.active {
                    opacity: 1;
                    visibility: visible;
                }

                opacity: 0;
                visibility: hidden;
                transition: all .3s;
            }
        }

        .options {
            padding: 30px 0;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;

            &__item {
                font-weight: 500;
                font-size: 14px;
                opacity: .6;
                padding-left: 32px;
                position: relative;
                margin-bottom: 8px;
                max-height: 16px;



                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &.terass::before {
                    background-image: url('../images/terass.svg');
                }

                &.tree::before {
                    background-image: url('../images/location.svg');
                }

                &.base::before {
                    background-image: url('../images/base.svg');
                }
            }
        }

        &__content-item {
            color: var(--dark-blue);
            margin-bottom: 16px;

            &__title {
                font-weight: 500;
                font-size: 14px;
                opacity: .6;
                margin-bottom: 8px;
            }

            &__value {
                font-weight: 500;
                font-size: 24px;
            }
        }

        &__bottom {
            display: flex;
            list-style: none;
            justify-content: space-between;
            color: var(--dark-blue);
            align-items: flex-end;
        }

        &__bottom-item {
            &__text {
                max-width: 170px;
                font-weight: 500;
                font-size: 18px;
                line-height: 120%;
                margin-bottom: 16px;
            }

            &__button {
                background: linear-gradient(0deg, #E3EDF7, #E3EDF7);
                box-shadow: -4px -2px 8px rgba(255, 255, 255, 0.8), 4px 2px 8px rgba(136, 165, 191, 0.48);
                border-radius: 8px;
                padding: 8px 16px;

                &.red {
                    padding: 12px 24px;
                    background: var(--main-red);
                    border-radius: 38px;
                }
            }
        }
    }
}

.gallery {
    padding: 100px 0 0;
    color: var(--dark-blue);
    padding-left: 5%;

    &__title {
        font-weight: 500;
        font-size: 48px;
        letter-spacing: 0.02em;
        margin-bottom: 32px;
        padding-left: 5%;
    }

    &__descr {
        max-width: 520px;
        opacity: 0.6;
        line-height: 160%;
        margin-bottom: 40px;
        padding-left: 5%;
    }

    .swiper-container {
        padding-bottom: 80px;
    }

    .swiper-slide {
        // box-shadow: 16px 24px 32px rgba(18, 61, 101, 0.24);

        img {
            border-radius: 16px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: drop-shadow(16px 24px 32px rgba(18, 61, 101, 0.24));
        }
    }

    .swiper-pagination {
        left: 80px;
        bottom: 0px;
        right: auto;
        width: auto;

        span {
            margin: 0 25px !important;
            width: auto;
            height: auto;
            background: transparent;
            font-size: 18px;
            font-weight: 700;
        }
    }
}

.dev {
    padding: 200px 0 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        color: var(--dark-blue);
    }

    &__content {
        flex: 0 0 50%;
    }

    &__content-title {
        font-weight: 500;
        font-size: 48px;
        letter-spacing: 0.02em;
        margin-bottom: 30px;
    }

    &__content-text {
        opacity: 0.6;
        line-height: 160%;
        margin-bottom: 30px;
    }

    &__content-list {
        list-style: none;

        &__item {
            margin-bottom: 30px;
            font-size: 24px;
            line-height: 160%;
            padding-left: 40px;
            position: relative;

            &::before {
                content: "";
                width: 8px;
                height: 8px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: var(--main-red);
            }
        }
    }

    &__content-build {
        &__num {
            font-weight: 700;
            color: var(--main-red);
            font-size: 48px;
            margin-bottom: 8px;

            span {
                font-size: 36px;
            }
        }

        &__time {
            letter-spacing: 0.02em;
        }
    }

    &__about {
        flex: 0 0 40%;
        border-left: 1px solid #C6D0DD;
        padding-left: 95px;
    }

    &__about-logo {
        margin-bottom: 40px;
    }

    &__about-text {
        position: relative;
        line-height: 160%;
        padding: 47px 0;

    }

    &__about-text+&__about-text {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 56px;
            height: 3px;
            background-color: var(--main-red);
        }
    }
}

.other {
    padding: 100px 0;

    &__title {
        font-weight: 500;
        font-size: 48px;
        letter-spacing: 0.02em;
        margin-bottom: 50px;
    }

    .swiper-container {
        height: 285px;
    }

    .other-slide {
        height: 100%;

        &__img {
            display: block;
            position: relative;
            margin-bottom: 25px;
            border-radius: 16px;

            &:hover .other-slide__img-hover {
                opacity: 1;
                visibility: visible;
            }

            img {
                border-radius: 16px;
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

        &__img-hover {
            opacity: 0;
            visibility: hidden;
            border-radius: 16px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            z-index: 1;
            background-color: rgba(#EBF3FA, .85);
            box-shadow: -8px -8px 24px rgba(255, 255, 255, 0.8), 8px 8px 24px rgba(136, 165, 191, 0.6);
            transition: all .3s;

            &__top {
                display: flex;
                justify-content: space-between;
            }

            &__top-link {
                background: transparent;
            }
        }

        &__text {
            font-size: 24px;
            padding: 0 24px;
        }
    }
}

.call {
    color: #fff;
    padding: 80px 0;
    background-image: url('../images/contact-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper {
        max-width: 70%;
        margin: 0 auto;

    }

    &__title {
        font-size: 64px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    &__subtitle {
        font-size: 30px;
        line-height: 1.6;
        margin-bottom: 60px;
    }

    &__form {
        display: flex;
        align-items: center;
    }

    &__form-item {
        position: relative;
        margin-right: 24px;

        &__line {
            display: block;
            position: absolute;
            height: 2px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #BC8B35;
            transition: all .3s;
        }

    }

    &__form-input {
        background: transparent;
        border: none;
        padding: 10px 5px;
        font-size: 18px;
        color: #fff;

        &::placeholder {
            color: rgba(#fff, .6);
        }
    }

    &__form-input:focus+&__form-item {
        &__line {
            background-color: #fff;
            right: 0;
            left: 0;

        }
    }

    &__form-submit {
        color: var(--dark-blue);
        background-color: #fff;
        font-size: 12px;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        padding: 20px;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.08);
        border-radius: 16px;
    }
}

.contacts {
    &::before {
        content: "contacts";
        left: auto;
        right: 250px;
    }

    padding: 50px 0;

    &__title {
        font-weight: 500;
        font-size: 48px;
        margin-bottom: 45px;
    }

    &__buttons {
        display: flex;
    }

    &__buttons-item {
        margin-right: 24px;

        &.buttons__item--active button {
            box-shadow: inset -3px -3px 7px #FFFFFF, inset 3px 3px 7px rgba(136, 165, 191, 0.48);
        }

        button {
            background: linear-gradient(0deg, #E3EDF7, #E3EDF7);
            padding: 16px 24px;
            box-shadow: -4px -2px 8px rgba(255, 255, 255, 0.8), 4px 2px 8px rgba(136, 165, 191, 0.48);
            border-radius: 8px;

        }
    }

    &__wrapper {
        padding: 30px 0;
        display: flex;
    }

    &__map {
        flex: 0 0 60%;
        position: relative;
        list-style: none;
        height: 600px;
    }

    &__map-item {
        &.contacts__map-item--active {
            opacity: 1;
            visibility: visible;
        }

        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all .3s;
    }

    &__information {
        flex: 0 0 20%;
        margin-left: 50px;
    }

    &__information-tel {
        display: block;
        font-size: 36px;
        line-height: 140%;
        margin-bottom: 32px;
    }

    &__information-mail {
        display: block;
        font-size: 18px;
        line-height: 140%;
        padding-left: 40px;
        position: relative;
        font-style: normal;
        margin-bottom: 24px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background-image: url('../images/mail.svg');
            background-repeat: no-repeat;
        }
    }

    &__information-address {
        font-style: normal;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 45px;
    }

    &__information-social {
        display: flex;
        list-style: none;

        &__item a {
            display: block;
            padding: 16px;
            background: linear-gradient(0deg, #E3EDF7, #E3EDF7);
            box-shadow: -4px -2px 8px rgba(255, 255, 255, 0.8), 4px 2px 8px rgba(136, 165, 191, 0.48);
            border-radius: 8px;
            margin-right: 24px;
        }
    }
}

.footer {
    padding: 42px 0;
    font-size: 14px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;

        span {
            margin-right: 16px;
        }
    }
}

//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import 'media';